@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.button {
	display: flex;
	gap: 8px;
	align-items: center;
	border: 1px solid #c7c5d0;
	padding: 6px 8px;
	border-radius: 4px;
	user-select: none;
}

.button span {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.25px;
	color: var(--text-color);
}
